/* Universal Styling */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
    /*outline: 1px solid red; Adds a red outline to all elements */
}

html {
    background-color: #141414;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0rem;
}

a {
    color: white;
}

.cta-button {
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.cta-button:hover {
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
}

.cta-button-inverse {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    text-decoration: none;
    color: #141414;
    font-weight: 500;
}

.cta-button-inverse:hover {
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
    color: white;
}

figure {
    width: 100%;
}

figure img {
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.no-scroll {
    overflow: hidden;
}

.cta {
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Font Styling */
h1 {
    font-weight: 900;
    text-align: center;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.small {
    font-weight: 300;
}

/* Header Styling */
header {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    background-color: #141414;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

/* Hero Section */
#hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-image: url('../resources/images/Hexagon.jpg');
    padding: 14rem 0rem;
}

/* About Section */
#about-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    color: white;
    border-radius: 1rem; 
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25); /* Adjust the color and opacity as needed */
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.about-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Experience Section */
#experience-section, #contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #292929;
    color: white;
    border-radius: 1rem;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}

.skill {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill svg {
    flex-shrink: 0;
}

.skill svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* Project Section */
#project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    color: white;
}

#project-section h2 {
    width: 100%;
}

#project-section a {
    text-decoration: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #292929;
    border-radius: 1rem;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.project:hover {
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
    color: #141414;
}

.project:hover .detail {
    background-color: #141414;
    color: #FFFFFF;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.project-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: .5rem;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
/* Contact Section */
.contact-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contact-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.contact-socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-socials a {
    text-decoration: none;
}

.social-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #141414;
    border-radius: 1rem;
    flex-grow: 1;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.social-card:hover {
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
}

.arrow-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

footer {
    color: white;
    text-align: center;
}

#mobile-menu {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9999; 
    display: none; 
    justify-content: center; 
    align-items: center;
}

#close-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10000;
}

#mobile-menu svg {
    fill: #141414;
}

#mobile-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    list-style: none;
}

#mobile-menu li {
    text-align: center;
    color: #141414;
}

/* Mobile Sizing */
@media only screen and (max-width: 640px) and (min-width: 320px) {
    main {
        padding: 0rem 1rem;
    }

    #menu-options {
        display: none;
    }

    #menu-stack {
        display: block;
    }

    #experience-section, #contact-section {
        padding: 2rem 1rem;
    }
    /* Font Styling */
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .navibutton {
        font-size: 1.125rem;
    }

    /* Header Section */
    nav {
        padding: 0rem 1rem;
    }

    /* About Section */
    #about-section {
        padding: 2rem 1rem;
    }
    .about-socials svg, header svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* Project Section */
    .project {
        padding: 1rem;
    }
    .project-content {
        padding: 2rem 0rem;
    }

}

/* Tablet Sizing */
@media only screen and (min-width: 641px) and (max-width: 1024px) {

    .about-socials svg, header svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    #menu-options {
        display: none;
    }

    #menu-stack {
        display: block;
    }
    /* Font Sizing */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .navibutton {
        font-size: 1.25rem;
    }

    main {
        padding: 0rem 2rem;
    }

    /* Header Section */
    header {
        padding: 2rem;
    }

    /* Project Section */
    .project, .project-content {
        padding: 2rem;
    }
    /* Contact Section */
    #contact-section, #about-section, #experience-section, .project {
        padding: 2rem;
    }

    .contact-socials {
        flex-direction: row;
    }

    .contact-socials a {
        flex-basis: 0;
        flex-grow: 1;
    }

    .social-card svg{
        width: 3.125rem;
        height: 3.125rem;
    }
}

/* Laptop & Desktop Sizing */
@media only screen and (min-width: 1025px) {
    html {
        display: flex;
        flex-direction: column;
    }
    main {
        padding: 0rem 4rem;
    }

    #menu-options {
        display: block;
    }

    #menu-stack {
        display: none;
    }

    nav, #about-section, #experience-section, #project-section, #contact-section {
        max-width: 82rem; /* Limits The Size Content To 1312 pixels */
    }

    #about-section, #experience-section, #contact-section {
        padding: 2rem;
    }

    /* Font Sizing */
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .navibutton {
        font-size: 1.25rem;
    }

    /* Header Section */

    #menu-stack {
        display: none;
    }

    #menu-options {
        display: flex;
    }

    #menu-options ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
    }

    #menu-options a {
        text-decoration: none;
    }

    #menu-options a:hover {
        background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #mobile-menu {
        display: none;
    }

    /* About Section */
    #about-section {
        flex-direction: row-reverse;
    }

    .about-header {
        text-align: left;
    }

    .about-socials {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about-content, figure {
        flex-basis: 0;
        flex-grow: 1;
    }

    /* Experience Section */
    #experience-section {
        gap: 3rem;
        width: 100%;
    }

    /* Project Section */
    .project {
        flex-direction: row;
        padding: 2rem;
    }

    .project-content {
        padding: 2rem;
        justify-content: center;
        height: 100%;
        text-align: left;
    }
    .project-content, figure {
        flex-basis: 0;
        flex-grow: 1;
    }

    .project-details {
        justify-content: flex-start;
    }

    /* Contact Section */
    #contact-section {
        flex-direction: row;
    }

    .contact-content, figure {
        flex-basis: 0;
        flex-grow: 1;
    }

    .contact-socials {
        flex-direction: row;
    }

    .contact-socials a {
        flex-basis: 0;
        flex-grow: 1;
    }

    .contact-content {
        justify-content: center;
    }

    .contact-header {
        text-align: left;
    }
}
